body
{
    background-color: black;
    color:white;
}

.container
{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

header span
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 40px;
    letter-spacing:5px;
}
.box
{
    justify-content: space-around;
    margin: 20px;
    width: 200px;
    height:200px;
    background-color: gray;
}

 .para
{
    display:block;
    justify-content: center;
    align-items: center;
}

.para p
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    display:block;
}

/*animation*/

.container img
{
    width: 200px;
    height: 200px;
}

.box1 img:hover
{
    transform: translatex(25px);
    transition:transform 1s ease-in-out;
    cursor:pointer;
}

.box2 img:hover
{
    transform:rotate(200deg);
    transition:transform 1s ease-in-out;
    cursor:pointer;
}

.box3 img:hover
{
    transform:translatey(25px);
    transition:transform 1s ease-in-out;
    cursor:pointer;
}

.box4 img:hover
{
    transform:scale(1.2);
    transition:transform 1s ease-in-out;
    cursor:pointer;
}

.box5 img:hover
{
    transform:scale(0.5);
    transition:1s ease-in-out;
    cursor:pointer;
}

.box6
{
    background-color:skyblue;
    
}

.box6:hover

{
    animation: myanime_1 1s 1 ease-in-out forwards;
    cursor:pointer;
}

.box7
{
    background-color:greenyellow;
}

.box7:hover
{
    animation-name: myanime_2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    cursor: pointer;
}

.box8:hover
{
    animation:myanime_3 5s ease-in-out forwards 1;
    cursor:pointer;
}

@keyframes myanime_1
{
    form{

    }

    to{
        background-color: red;
    }
}

@keyframes myanime_2
{
    form{

    }

    to{
        border-radius: 100px;
    }
}

@keyframes myanime_3
{
    0%{
        background-color:white;
    }
    20%{
        border-color: aqua;
    }

    40%{
        background-color: aquamarine;
    }

    60%{
        background-color: yellow;
    }

    80%{
        background-color: hotpink;
    }

    100%
    {
        background-color: burlywood;
    }
}

.box9:hover
{
    animation: myanime_4 1s 1 forwards ease-in-out;
    cursor:pointer;
}

@keyframes myanime_4
{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(90deg);}
}

.box10:hover
{
    animation:myanime_5 1s 1 forwards ease-in-out;
    cursor:pointer;
}

@keyframes myanime_5
{
    0%{transform: rotateX(0deg);}
    100%{transform: rotateX(90deg);}
}

.box11:hover{
    animation:myanime_6 1s forwards 1 ease-in-out;
    cursor:pointer;
}

@keyframes myanime_6
{
    0%{transform:rotate(90deg);}
    100%{transform:scaleX(-1);}
}

.box12:hover{
    animation:myanime_7 1s ease-in-out forwards;
    cursor:pointer;
}

@keyframes myanime_7
{
    0%{
        transform:rotate(90deg);

    }
    100%{
        transform: scaleY(-1);
    }
}